# Environment & Secrets
.env
.env.local

# Temp & Lock files
.~lock.*
*.tmp

# Storage & Uploads
/app/storage/mock_db.json
/app/public/uploads/*
!/app/public/uploads/.gitkeep

# System & OS
.DS_Store
*.log
